@page
@using WebApp.Pages.Products
@model ProductModel
@{
    ViewData["Title"] = "Product Catalogue";
}

<h2>Products</h2>

<div class="container">
    <a asp-page="./Product_Details" class="btn btn-primary">Sort Ascending</a>
    <a asp-page="./Product_Details" class="btn btn-primary">Sort Descending</a>
</div>
<br />
<div class="container">
    <form method="get">
    <div class="input-group mb-3">
        <input type="search" asp-for="@Model.SearchQuery" class="form-control">
    </div>
</form>
</div>
<div class="row">
    @foreach (var products in Model.Products)
    {
    <div class="card border-primary" id="product_card">
        <div class="card-header">
            @products.Brand.Name @products.Name
        </div>
        <div class="card-body">
            <p id="product_price">
                @products.Price
            </p>
        </div>
        <div class="card-footer">
            <a asp-page="./Product_Details" asp-route-productId="@products.ProductId" class="btn btn-secondary">Info</a>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    }
</div>
